<div
  class="background-image-container mt-ncs"
  style="height: 400px; margin-bottom: 50px"
>
  <div class="container" style="height: 400px">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">REPOSITORIO INSTITUCIONAL</h1>
          <p class="lead">UNU | NUESTRA INVESTIGACIÓN A TU SERVICIO</p>
        </div>
      </div>
    </div>
  </div>
  <picture class="background-image" style="height: 300px">
    <img alt="banner" [src]="'assets/dspace/images/banner.jpg'" />
  </picture>
</div>
