<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">REPOSITORIO INSTITUCIONAL</h1>
          <p class="lead">LA INVESTIGACIÓN A TU SERVICIO</p>
        </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <img
      alt="banner"
      [src]="'assets/dspace/images/banner.jpg'"
    /><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
</div>
